/* Default classes */
.bg-dark-blue {
    background-color: #263238;
}
.bg-orange {
    background-color: #fcb322;
}
.bg-lite-grey {
    background-color: #f8f8f8;
}
.bg-blue-grey {
    background-color: #455a64;
}
.bg-red {
    background-color: #ef6c00;
}
.bg-red-red {
    background-color: #e74c3c;
}
.bg-green {
    background-color: #8bc34a;
}
.bg-blue {
    background-color: #6370b6;
}
.bg-cyan {
    background-color: #64b5f6;
}
.bg-light-blue {
    background-color: #4f71ce;
}
.bg-white {
    background-color: #fff;
}
.bg-sky-blue {
    background-color: #42a5f5;
}
.border-grey {
    border: 1px solid #dedede;
}
.text-color-green {
    color: #8bc34a
}

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;    
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.text-center {
    text-align: center;
}
.btn {
    font-family: 'robotoregular';
    color: white;
    font-size: 12px;
    padding: 10px 16px;
    border-radius: 5px;
    width: 70px;
}
.btn-product-prise + .btn-product-prise {
    margin-top: 5px;
}
.product-btn {
    padding: 17px 25px;
    color: white;
}
.product-info-wrap  a + a {
    margin-left: 13px;
}
.product-social  a + a {
    margin-left: 0;
}
.btn-large {
    width: 100%;
    padding: 17px 0;
    font-size: 0.9375rem;
    color: white;
    margin-top: 15px;
}
.btn-notify {
    font-family: 'robotobold';
    font-size: .875rem;
    padding: 10px 0;
    width: 100%;
    color: white;
}
/* Default component */
.breadcrumb {
    padding: 45px 0;
}
.breadcrumb > li {
    display: inline-block;
    font-family: 'robotoregular';
}
.breadcrumb > li a {
    color: #b0bec5;
    font-size: .9375rem;
    
}
.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
.breadcrumb > .active {
    color: #263238;
    font-size:.9375rem;
}
.aside-section {
    padding: 20px 30px 30px;
}
.aside-section .product-information {
    line-height: 24px;
    font-family: 'robotoregular';
    color: #70838d;
    font-size: .875rem;
}
.aside-section .product-information li + li {
    margin-top: 10px;
}
.aside-section .product-information span {
    font-family: 'robotomedium';
    color: #263238;
    display: inline-block;
 }
.aside-section .card-img img {
    height: 121px;
}
.aside-section ul li:last-child {
    padding-bottom: 10px;
}
.aside-section .fas.fa-search {
    margin-right: 10px;
}
.aside-section .btn-large {
    margin-top: 12px;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-title {
    padding-bottom: 18px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
    color: #263238;
    font-family: 'robotobold';
    font-size: 1.25rem;
}
.aside-section .card-description {
    padding: 20px 0;
    border-bottom: none;
    color: #263238;
    font-family: 'robotobold';
}
.aside-section .card-category {
    margin-top: 13px;
}
.aside-section .card-author-info {
    padding: 0;
}
.aside-section .card + .card {
    border-top: 1px solid #e7ecf2;
    padding-top: 30px;
}
.aside-section .regular-price {
    font-size: 20px;
    color: #e74c3c;
}
.aside-section .price-wrap {
    justify-content: space-between;
    margin-bottom: 28px;
}
.aside-section .btn-price {
    border: 1px solid #d3d3d3;
    font-family: 'robotoregular';
    color: #70838d;
    font-size: 0.8128rem;
    padding: 9px 10px 6px 10px;
    
   }
.aside-section .fas, .aside-section .far {
    margin-right: 5px;
}
.aside-section .product-rating .fas{
    margin-right: 0;
    padding-top: 5px;
}
.author-chevron li + li {
    margin-left: 5px;
}
.author-chevron {
    margin-top:23px;
}
.dropdown-notify-item-price {
    font-family: 'robotoregular';
    color: #70838d;
    font-size: 0.8128rem;
    padding: 9px 10px 6px 10px;
   }
.dropdown-notify-item-price + .dropdown-notify-item-price {
    border-top: 1px solid #d3d3d3;
}
.btn-price.d-flex {
       align-items: center;
       cursor: pointer;
}
.btn-product-prise {
    width: 100%;
    color: white;
    font-family: 'robotobold';
    padding: 15px;
    font-size: 1rem;
}
.btn-product-prise.bg-sky-blue {
    font-family: 'robotomedium';
}
.aside-section .fas.fa-caret-down {
    color: #8bc34a;
    margin-left: 10px;
}
.author-profile span {
display: block;
}
.author-profile img {
    width: 73px;
    height: 63px;
}
.default-chevron-list {
    font-family: 'robotoregular';
    font-size: .9375rem;
    color: #263238;
    line-height: 1;
}
.category-item-count {
    color: #90a4ae;
}
.default-chevron-list li + li {
    margin-top: 28px;
}
.fas.fa-chevron-right {
    font-size: .875rem;
    color: #8bc34a;
    margin-right: 7px;
}

.col-md-9 .card {
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.col-md-9 .card:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
       -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
            box-shadow: 0 16px 20px rgba(216, 216, 216, .75);    
}
.card-img img{
    width: 100%;
}
.card-img {
    position: relative;
    overflow: hidden;
}
.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
    color: #263238;
}
.card-item-info .card-title{
    display: block;
}
.card-item-info .card-category{
    display: block;
}
.card-category {
    font-size: .825rem;
    color: #8bc34a;
    margin-top: 15px;
}
.card-author-info {
    font-size: .825rem;
    color: #546e7a;
    padding: 18px 20px;
}
.card-price {
    font-family: 'robotobold';
    font-size: 1.25rem;
}

.card-author img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.product-rating li{
    display: inline-block;
    font-size: 12px;
    color: #ffa726;
}

.product-reviews-count {
    margin-left: 10px;
}
.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
}
.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
}
.head-title {
    padding: 18px 33px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 1.5rem;
    color: #263238;
    font-weight: normal;
}
.offset-md-3 .product-btn {
    padding: 16px 35px;
    font-size: .9375rem;
    margin-top: 20px;
}
.form-control {
    width: 100%;
    height: 40px;
    padding: 0 17px;
	border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    font-family: 'robotoregular';
    font-size: .9375rem;
}
.upload-product-content {
    margin-bottom: 105px;
}
label {
    font-family: 'robotoregular';
    font-size: .9375rem;
    color: #444444;
    line-height: 30px;
}
label sup {
    font-size: 1.5rem;
    color: #8bc34a;
}
/* Custom styles */
.top-header {
    padding-top: 26px;
    padding-bottom: 26px;
}
.user-controls {
    margin-left: 30px;
}
.dropdown-item {
    position: relative;
}
.dropdown-item + .dropdown-item {
    margin-left: 16px;
}
.dropdown-item.show .far, .dropdown-item.show .fas.fa-shopping-cart {
    color: #263238;
}
.dropdown-control {
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    color: #a0a0a0;
    font-size: .875rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d3d3d3;
    min-width: 160px;
    right: 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
    top: 28px !important;
}
.dropdown-item .dropdown-menu {
    width: 268px;
}
.dropdown-menu.menu-profile {
    width: 158px;
    border: 1px solid #e9e9e9;
    top: 26px !important;
}
.aside-section .dropdown-item .dropdown-menu {
    min-width: 90px !important;
    border: none !important;
    width: 85px;
    top: 0 !important;
}
.aside-section .product-by-author{
    margin-top: -21px;
}
.aside-section.shopping {
    padding: 20px 25px;
    color: #a6b5bb;
}
.aside-section .count_shopping {
    color: #263238;
    font-family: 'robotobold';
    font-size: 1.25rem;
    margin-left: 15px;
}
.sales-price {
    font-family: 'robotoregular';
    color: #707070;
    margin-left: 10px;
}
.menu-profile span {
    font-family: 'robotoregular';
    font-size: .75rem;
    color: #546e7a;
}
.menu-profile {
    padding: 25px 20px 30px 25px;
}
.menu-profile li + li {
    margin-top: 26px;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-notify-item-balance .notify-item-balance {
    padding: 0px 20px 19px 12px;
}
.notify-item-balance {
    justify-content: space-between;
}
.notify-item-author {
    font-size: .9375rem;
    font-family: 'robotomedium';
    color: #263238;
}
.notify-item-prise {
    color: #000000;
    font-family: 'robotomedium';
    font-size: 1rem;
}
.dropdown-notify-item {
    padding: 18px 30px 18px 21px;
}
.dropdown-notify-item-balance {
    padding: 20px 17px 13px 17px;
    border-top: 1px solid #e0e0e0;
}
.notify-item-info {
    margin-left: 20px;
    margin-top: 7px;
    font-family: 'robotoregular';
    font-size: 12px;
    font-weight: normal;
    color: #84b743;

}
.notify-date {
    font-size: 10px;
    color: #707070;
}
.notify-author {
    font-family: 'robotobold';
    font-size: .75rem;
    color: #263238;
}
.notify-item-info span {
    display: block;
}
.notify-item-info span + span {
    margin-top: 7px;
}
.notify-avatar-price img {
    height: 57px;
    width: 73px;
}
.dropdown-notify-item .far.fa-bell, .dropdown-notify-item .fas, .dropdown-notify-item .far.fa-envelope {
    margin-top: 7px;
    color: #b0bec5;
}
.dropdown-notify-item:hover .far, .dropdown-notify-item:hover .fas {
    color: #ef6c00;
}
.dropdown-notify-item + .dropdown-notify-item {
    border-top: 1px solid #e0e0e0;
}
.dropdown-notify-item.price {
    padding: 20px 50px 23px 23px;
}
.dropdown-notify-item.price .notify-item-info {
    margin-top: 0;
}
.dropdown-notify-item.mail {
    padding: 19px 30px 22px 22px;
}
.dropdown-notify-item.mail .notify-item-info {
    margin-top: 0;
}
.user-info-wrap {
    margin-left: 15px;
    font-size: 14px;
    color: #222222;
    cursor: pointer;
}
.wrap-author-profile {
    margin-left: 15px;
}
.wrap-author-profile .product-by-author {
    padding: 20px 0;
}
.balance {
    font-family: 'robotobold';
    font-size: 14px;
    line-height: 24px;
    display: block;
}
.fas.fa-chevron-down {
    margin-left: 13px;
}
.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-size: 11px;
    color: #fff;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 18px;
    font-family: 'open_sanssemibold';
}
.user-dropdown-control {
    margin-left: 20px;
}
.user-avatar {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.need-help{
    font-family: 'robotoregular';
    font-size: 15px;
    line-height: 24px;
    color: #546e7a;
}
.need-help .red-text{
    color: #e74c3c;
}

.user-controls button {
    margin-left: 30px;
}
.notify-item-btn button {
    margin-left: 0;
}
.notify-item-btn button + button {
    margin-left: 6px !important;
}
.header-nav a {
    font-size: 14px;
    color: #fff;
    
}
.header-nav a + a {
    margin-left: 45px;
    }
.bottom-header {
    padding: 22px 0;

}
#header {
    background-color: #fff;
}
.user-controls button + button {
    margin-left: 10px;
}
/* header end */
/* inner start */
.product-by-author {
    color: #263238;
    font-size: 1.125rem;
    padding: 20px 28px;
    margin-top: 55px;

}
.product-social a {
    color: white;
    font-size: 1.125rem;
    line-height: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}
.row.more-product-author {
    padding-bottom: 120px;
}
.product-baner {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #dcdcdc;
    width: 100%;
}
.product-button a {
    margin-bottom: 55px;
}
.product-description h5 {
    color: #263238;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 25px;
}
.product-description p {
    color: #707070;
    font-family: 'robotoregular';
    line-height: 24px;

}
.product-description {
    padding-top: 40px;
    padding-bottom: 45px;
}
.inner-title {
    font-family: 'robotobold';
    font-size: 48px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 35px;
}
.inner-subtitle {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 25px;
}
.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url("../img/small-inner-bg.jpg") no-repeat center / cover;
}
.inner.large-inner {
    padding-top: 140px;
    padding-bottom: 170px;
    background: url("../img/large-inner-bg.jpg") no-repeat center / cover;
}
.one-product-by-aythor .notify-item-author {
    color: #263238;
    font-size: .875rem;
    padding: 0;
}
.one-product-by-aythor .notify-item-price {
    color: #263238;
    font-family: 'robotobold';
    font-size: 1.125rem;
}
.one-product-by-aythor {
    margin-top: 30px;
    box-shadow: 0.5px 0.866px 2px 0px rgb( 205, 214, 222 );
}
  
.search-wrap {
    max-width: 671px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
       -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
            box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
    padding-left: 25px;
    padding-right: 50px;
    font-size: 14px;
    color: #90a4ae;
}
.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder          { color: #90a4ae; } /* Firefox 19+ */
.search-input:-moz-placeholder           { color: #90a4ae; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { color: #90a4ae; }

.search-input-btn {
    background-color: transparent;
    color: #7c939f;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.btn-items {
    color: #263238;
    font-family: 'robotoregular';
    padding: 20px 33px;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0.5px 0.866px 3px 0px rgb( 204, 216, 228 );
    margin-top: 78px;
    margin-bottom: 110px;
    outline: none !important;
               
}
.btn-items + .btn-items {
    margin-left: 8px;
}
.why-choose-us .main-product-title {
    color: #fff;
}
.main-product-title {
    font-family: 'robotobold';
    font-size: 2.25rem;
    color: #263238;
    padding-top: 120px;
    padding-bottom: 60px;
}
.row.main-page {
    padding-left: 30px;
    padding-right: 30px;
    /* margin-top: 60px; */
    margin-bottom: 0;
}
.main-page .card {
    margin-bottom: 30px;
    box-shadow: 0.5px 0.866px 2px 0px rgb( 205, 214, 222 );
             
}
.slider .card {
    box-shadow: none;
    border: 1px solid #dedede;
}
.main-page .card:hover {
    box-shadow: 8px 13.856px 20px 0px rgb( 216, 216, 216 );
    
  }
  .new-product {
      position: absolute;
      width: 92px;
      height: 92px;
      transform: rotate(45deg);
      top: -46px;
      left: -45px;
  }
  .new-product i {
      color: white;
      transform: rotate(-45deg);
      padding-left: 55px;
    padding-top: 72px;

  }
  
/* inner end */
/* view controls start */
.view-controls {
    padding: 20px;
    margin-bottom: 30px;
    line-height: 1;
    align-items:center;
}
.view-icons i + i {
    margin-left: 10px;
}
.view-icons-active{
    color: #8bc34a;
}
.sort-by {
    font-family: 'robotoregular';
    font-size: .875rem;
    color: #707070;
    margin: 0 13px;
    
}

.fa-sort-amount-down {
    font-size: .875rem;
    color: #455a64;
}
.fa-sort {
    color: #707070;
    font-size: 1.125rem;
    flex-direction: column;
    cursor: pointer;
}
.view-icons {
    color: #90a4ae;
    align-items: flex-end;
    cursor: pointer;
}
/* view controls end */
/* all-items */
.all-items-wrap .card {
    margin-bottom: 30px;
}

/* all-items end */
/* pagination start*/

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 110px;
}
  .page-item {
      height: 38px;
      width: 43px;
      background-color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      color: #263238;
      box-shadow: 0.5px 0.866px 2px 0px rgb( 205, 214, 222 );
}
 

  .pagination a {
      display: inline-block;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
  }
  .page-item.active {
    z-index: 1;
    color: #fff;
    background-color: #e74c3c;
    
  }
  .pagination a:hover {
    background-color: #e74c3c;
    color: white;
  }
    
 .pagination li + li {
     margin-left: 8px;
 }
  /* pagination end */
  /* product tabs */
  .tab-content.list li + li {
margin-top: 20px;
  }
  .tab-content ul + ul {
      margin-left: 20px;
  }
  .tab-content ul {
      float: left;
  }
.tab-pane {
    display: none;
    padding: 37px 200px 67px 37px;
}
.tab-pane li span {
    font-family: 'robotoregular';
    color: #707070;
}
.tab-pane.show {
    display: block;
}
.tab-pane.main-page{
    padding: 0;
}
.nav-item {
    flex-grow: 1;
}
.nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}
.nav-link-main {
    padding: 13px 26px;
    text-align: center;
    display: block;
    color: #263238;
    font-size:.875rem;
    background-color: white;
}
.nav-item-main + .nav-item-main {
    margin-left: 6px;
}
.nav-link {
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    color: #70838d;
    font-family: 'robotoregular';
}
.nav-link-main.active {
    background-color: #e74c3c;
    color: white;
}
.nav-link.active {
    font-family: 'robotomedium';
    color: #263238;
}
.product-tabs {
    margin-bottom: 60px;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 0;
    transition: all .2s ease-in;
}
.nav-link.active::after {
    height: 3px;
    background-color: #8bc34a;
}
/* upload product */
.form-body {
    padding-top: 40px;
    padding-bottom: 65px;
}
.form-body label {
    padding-left: 45px;
}
.form-body .row + .row {
    margin-top: 20px;
}
/* why choose us start */
.advantages img {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    margin-top: 90px;
}
.advantages a {
    font-size: 1.5rem;
    color: white;
    margin-top: 33px;
    margin-bottom: 26px;
}
.advantages a:hover {
    color: #8bc34a;
}
.advantages p {
    color: #b0bec5;
    font-family: 'robotoregular';
    font-size: .9375rem;
    line-height: 24px;
    padding-bottom: 115px;
}
/* why choose us end */
/* <!-- /.become-a-author start--> */
.become-author {
    width: 1103px;
    height: 438px;
    /* background-color: #b5b5b5; */
    box-shadow: 0 0 70px #c7c7c7;
    margin: 130px 35px;
    position: relative;
}
.become-author-green {
    width: 650px;
    height: 215px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.become-author-green .btn-items {
    margin: 70px 60px;
}
.become-author-green p {
    font-family: 'robotoregular';
    font-size: 1.875rem;
    color: white;
    margin-left: 60px;
}
.become-author-green span {
    font-family: 'robotobold';
}
/* <!-- /.become-a-author end--> */
/* free tuturials start*/
.free-tutorials {
    padding-bottom: 120px;
}
.tutorial-title {
    font-family: 'robotobold';
    color: #263238;
    font-size: 1.5rem;
    padding: 40px 0;
}
/* free tuturials end*/

/* footer */
#footer {
    padding-top: 115px;
}

.subscribe-form-wrapper {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#263238));
    background: -webkit-linear-gradient(top, #000 0%, #263238 100%);
    background: -moz-linear-gradient(top, #000 0%, #263238 100%);
    background: -o-linear-gradient(top, #000 0%, #263238 100%);
    background: linear-gradient(to bottom, #000 0%, #263238 100%);
    padding: 1px;
    display: inline-block;
}
.subscribe-form-wrapper #email {
    height: 37px;
    background-color: #2f3c43;
    width: 216px;
    padding-left: 15px;
    font-family: 'robotoregular';
    font-size: .875rem;
    color: #697378;
}

.subscribe-form-wrapper button {
    padding: 9px 13px;
    background-color: #8bc34a;
    color: #fff;
    font-size: 1.15rem;
    line-height: 1;
}
.footer-title h3 {
    font-family: 'ralewaybold';
    font-weight: normal;
    font-size: 1.375rem;
    color: white;
}
.footer-title::after {
    content: '';
    display: block;
    width: 51px;
    height: 3px;
    background-color: #8bc34a;
    margin-top: 23px;
}
.footer-content {
    font-family: 'robotoregular';
    font-size: .9375rem;
    color: #b7c3c8;
    padding-top: 30px;
    line-height: 23px;
}
.footer-content li + li {
    margin-top: 15px;
}
.footer-adress {
    font-family: 'latosemibold';
    font-size: .875rem;
    color: white;
    padding-top: 28px;
    
}
.footer-adress span {
    display: inline-block;
}
.footer-tel {
    font-family: 'latosemibold';
    font-size: .875rem;
    color: white;
    padding-top: 20px;
}
.footer-content .fas {
    color: #8bc34a;
    font-size: 1.125rem;
    margin-right: 18px;
}
.footer-content .fa-phone {
    transform: rotate(90deg);
}
.footer-content .fa-chevron-right {
    font-size: .75rem;
    margin-right: 10px;
}
.follow-us-content {
    padding-top: 30px;
}
.sign-up {
    font-family: 'robotoregular';
    font-size: 1.25rem;
    color: white;
    margin-bottom: 18px;
}
.icon-fb-ic, .icon-in-ic, .icon-pinterest-ic, .icon-twitter-ic, .icon-youtube-ic
{ display: inline-block; background: url('../img/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.icon-fb-ic { background-position: -0px -0px; width: 28px; height: 28px; }
.icon-in-ic { background-position: -28px -0px; width: 28px; height: 28px; }
.icon-pinterest-ic { background-position: -0px -28px; width: 28px; height: 28px; }
.icon-twitter-ic { background-position: -28px -28px; width: 28px; height: 28px; }
.icon-youtube-ic { background-position: -0px -56px; width: 28px; height: 28px; }
.footer-social a + a {
    margin-left: 5px;
}
.footer-social {
    margin-bottom: 40px;
}
.footer-info {
    font-family: 'robotoregular';
    font-size: .9375rem;
    color: #919699;
    border-top: 1px solid #424d53;
    padding: 27px 10px 32px 10px;
    text-align: center;
    margin-top: 95px;
}
.icon-chevron-branch, .icon-chevron-currency, .icon-chevron-f, .icon-chevron-lightning, .icon-chevron-smile
{ display: inline-block; background: url('../img/sprite-chevron.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.icon-chevron-branch { background-position: -0px -0px; width: 34px; height: 37px; }
.icon-chevron-currency { background-position: -34px -0px; width: 34px; height: 37px; }
.icon-chevron-f { background-position: -0px -37px; width: 34px; height: 37px; }
.icon-chevron-lightning { background-position: -34px -37px; width: 34px; height: 37px; }
.icon-chevron-smile { background-position: -0px -74px; width: 34px; height: 37px; }